mat-card {
  min-width: 150px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  border-radius: 0;
  --warning: #ff6d00;
}

#filterForm {
  padding-left: 24px;
  width: 100%;
  max-width: 300px;
}

fa-icon,
#total {
  margin: 1rem;
}

fa-icon:hover {
  cursor: pointer;
}

#syncBtn,
#settingsBtn,
#saveBtn,
#total {
  float: right;
}

.blinking {
  animation: blinkingSave 1.2s infinite;
}

@keyframes blinkingSave {
  0% {
    color: var(--warning);
  }
  49% {
    color: var(--warning);
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: var(--warning);
  }
}

th.mat-header-cell,
td.mat-cell:first-of-type {
  white-space: nowrap;
  padding-left: 13px;
}

td > input {
  width: 60px;
  background: transparent;
  border: none;
  text-align: center;
}

.cost,
.sell,
.quantity,
.total {
  color: white;
}

.fees {
  color: var(--warning);
}
