<main>
  <h1 class="text-center">
    Ecommerce calculator
  </h1>
  <mat-card>
    <div class="mat-elevation-z8">
      <fa-icon
        (click)="productService.saveChanges()"
        title="Save changes"
        id="saveBtn"
        [ngClass]="{ blinking: !productService.saved }"
        [icon]="faSave"
      ></fa-icon>
      <fa-icon
        routerLink="/settings"
        title="Settings"
        id="settingsBtn"
        [icon]="faTools"
      ></fa-icon>
      <fa-icon
        (click)="productService.loadProductsFromDB(paginator, sort)"
        title="Sync with Database"
        id="syncBtn"
        [icon]="faSyncAlt"
      ></fa-icon>
      <mat-form-field id="filterForm">
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. xiaomi"
        />
      </mat-form-field>
      <table
        aria-describedby="Ecommerce calculator"
        mat-table
        [dataSource]="productService.products"
        style="width: 100%;"
        matSort
      >
        <!-- Product Column -->
        <ng-container matColumnDef="Product">
          <th id="product-header" mat-header-cell *matHeaderCellDef>
            Product
            <fa-icon
              (click)="openProductFormDialog('new')"
              title="Add new"
              id="addBtn"
              [icon]="faPlusCircle"
              size="lg"
            >
            </fa-icon>
          </th>
          <td mat-cell *matCellDef="let product">
            <button mat-button (click)="openProductFormDialog(product.id)">
              {{ product.name }}
            </button>
            <a [href]="product.url" target="_blank">
              <fa-icon
                title="Go to website"
                class="externalLink"
                [icon]="faExternalLinkAlt"
                size="md"
              >
              </fa-icon>
            </a>
          </td>
        </ng-container>

        <!-- Sell Column -->
        <ng-container matColumnDef="Sell">
          <th
            id="sell-header"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Sell
          </th>
          <td mat-cell *matCellDef="let product">
            <input
              (change)="handleInputChange($event, product)"
              [value]="product.sell"
              name="sell"
              min="0"
              type="number"
              class="sell"
            />
          </td>
        </ng-container>

        <!-- Cost Column -->
        <ng-container matColumnDef="Cost">
          <th
            id="cost-header"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Cost
          </th>
          <td mat-cell *matCellDef="let product">
            <input
              (change)="handleInputChange($event, product)"
              [value]="product.cost"
              name="cost"
              min="0"
              type="number"
              class="cost"
            />
          </td>
        </ng-container>

        <!-- Fees Column -->
        <ng-container matColumnDef="Fees">
          <th
            id="sell-header"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Fees
          </th>
          <td mat-cell *matCellDef="let product">
            <input
              readonly
              type="text"
              value="{{ product.fees | number: '1.0-2' }}"
              class="fees"
            />
          </td>
        </ng-container>

        <!-- Profit Column -->
        <ng-container matColumnDef="Profit">
          <th
            id="profit-header"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Profit
          </th>
          <td mat-cell *matCellDef="let product">
            <input
              readonly
              [ngStyle]="{ color: product.profit > 0 ? 'green' : 'red' }"
              type="text"
              value="{{ product.profit | number: '1.0-2' }}"
              class="profit"
            />
          </td>
        </ng-container>

        <!-- Rate Column -->
        <ng-container matColumnDef="Rate">
          <th
            id="rate-header"
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >
            Rate
          </th>
          <td mat-cell *matCellDef="let product">
            <input
              readonly
              [ngStyle]="{ color: product.rate >= 10 ? 'green' : 'red' }"
              type="text"
              value="{{ product.rate | number: '1.0-2' }} %"
              class="text-nowrap rate"
            />
          </td>
        </ng-container>

        <!-- Delete Column -->
        <ng-container matColumnDef="Delete">
          <th id="delete-header" mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let product">
            <fa-icon
              [icon]="faTrashAlt"
              title="Delete"
              (click)="productService.deleteProduct(product)"
            ></fa-icon>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[2, 5, 10, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card>
</main>
