mat-card {
  min-width: 150px;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  border-radius: 0;
}

#filterForm {
  padding-left: 24px;
  width: 100%;
  max-width: 300px;
}

fa-icon {
  margin: 1rem;
}

fa-icon:hover {
  cursor: pointer;
}

#syncBtn,
#settingsBtn,
#saveBtn {
  float: right;
}

.blinking {
  animation: blinkingSave 1.2s infinite;
}

@keyframes blinkingSave {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}

td > input {
  width: 60px;
  background: transparent;
  border: none;
}

.cost,
.sell {
  color: white;
  font-weight: bold;
}

.profit {
  color: #ff6d00;
  font-weight: bold;
}

.rate {
  font-weight: bold;
}
