input[type="number"] {
  width: 60px;
  background: transparent;
  border: none;
}

#profit,
#rate {
  font-weight: bold;
}

.delete {
  cursor: pointer;
}

a {
  color: #007bff;
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
  color: #0056b3;
  text-decoration: underline;
}

fa-icon:hover {
  cursor: pointer;
}

.blinking {
  animation: blinkingSave 1.2s infinite;
}
@keyframes blinkingSave {
  0% {
    color: #000;
  }
  49% {
    color: #000;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #000;
  }
}
